{% extends 'base.html' %} 

{% block content %}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3 text-white">Sign in with</p>
                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
    
                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
    
                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </button>
            </div>
            
            <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-white">Or</p>
            </div>
            <form method = "POST" action = "{% url 'login' %}">
                {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" name = 'username'
                      placeholder="Enter your username" />
                </div>
               
                <div data-mdb-input-init class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg" name ='password'
                      placeholder="Enter password" />
                </div>  
                <button class="btn btn-primary btn-block" type="submit">Login</button>

                <p class="mt-5 mb-3 text-muted">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
</header>

{% endblock %}