{% extends  'base.html' %}

{% block content %}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            
            <form method = 'POST'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-4">
                        {{form.first_name}}
                    </div>
                    <div class="col-md-6 mb-4">
                        {{form.last_name}}
                    </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{form.email}}
                </div>
                
                <div data-mdb-input-init class="form-outline mb-3">
                    {{form.password1}}
                </div>

                <div data-mdb-input-init class="form-outline mb-3">
                    {{form.password2}}
                </div>

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-white">Or</p>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3 text-white">Sign up with</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
        
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
        
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                      <i class="fab fa-linkedin-in"></i>
                    </button>
                </div>
                <br> 
                <button class="btn btn-primary btn-block" type="submit">Register</button>
                <p class="mt-5 mb-3 text-muted">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                
            </form>

            
        </div>
    </div>
</header>

{% endblock %}